body {
	background-color: rgb(237,222,90);
	font-family: 'IM Fell English', serif;

}

header {
	background-color: rgb(56,198,180);
	margin-top: -21px;
	padding: 0;
}

#pic-position {
	text-align: center;
}

#wrapper {
	background-color: rgb(237,210,63);
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

footer {
	background-color: rgb(56,198,180);
	background-image: url("../images/giphy.gif");
}

#projlinks {
	display: inline-block;
	width: 60%;
	margin: 0 10%;
}


#links {
	width: 30%;
	float: left;
}

ul {
	list-style-type: none;
	padding: 0;
}

/*#links h3 {
	text-align: center;
}*/

#projects {
	width: 30%;
	float: right;
}

#joe-pic {
	width: 15%;
	border-radius: 50%;
}

footer ul li {
	display: inline-block;
	padding-top: 1%;
}